Repository learningequality/studio, pull requests merged in 2020-01, with the labels that each got.

#1732 Markdown editor improvements
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/MarkdownEditor/MarkdownEditor.vue
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/MarkdownEditor/keyHandlers.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/MarkdownEditor/utils.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/__tests__/utils.spec.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/constants.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/extensions/formulas/formulas.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/extensions/image-upload/image-upload.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/components/MarkdownEditor/extensions/minimize/minimize.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/directives/click-outside.js
Labels: frontend, needs review, qa-ready, vueify

#1728 ContentNode metadata helper and serializer implementation
  Pipfile
  Pipfile.lock
  contentcuration/contentcuration/db/__init__.py
  contentcuration/contentcuration/db/models/__init__.py
  contentcuration/contentcuration/db/models/expressions.py
  contentcuration/contentcuration/db/models/manager.py
  contentcuration/contentcuration/db/models/query.py
  contentcuration/contentcuration/debug/__init__.py
  contentcuration/contentcuration/debug/middleware.py
  contentcuration/contentcuration/dev_settings.py
  contentcuration/contentcuration/models.py
  contentcuration/contentcuration/node_metadata/__init__.py
  contentcuration/contentcuration/node_metadata/annotations.py
  contentcuration/contentcuration/node_metadata/cte.py
  contentcuration/contentcuration/node_metadata/query.py
  contentcuration/contentcuration/serializers.py
  contentcuration/contentcuration/tests/fixtures/tree.json
  contentcuration/contentcuration/tests/node_metadata/__init__.py
  contentcuration/contentcuration/tests/node_metadata/test_query.py
  contentcuration/contentcuration/tests/test_channel_model.py
  contentcuration/contentcuration/tests/test_exportchannel.py
  contentcuration/contentcuration/tests/test_user.py
  contentcuration/contentcuration/tests/testdata.py
  contentcuration/contentcuration/tests/testutils.py
  contentcuration/contentcuration/utils/nodes.py
  deploy/chaos/loadtest/prep.py
Labels: dependencies, optimization, qa-ready

#1739 updates to docs
  Makefile
  README.md
  docs/docker_kubernetes_setup.md
  docs/front_end_code.rst
  docs/git_setup.md
  docs/manual_setup.md
  docs/modules.md
Labels: docs

#1743 Connection checker, first pass
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/__tests__/module.spec.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/__tests__/module.spec.js
  contentcuration/contentcuration/frontend/shared/client.js
  contentcuration/contentcuration/frontend/shared/images/flightless-kolibri.jpg
  contentcuration/contentcuration/frontend/shared/views/AppBar.vue
  contentcuration/contentcuration/frontend/shared/vuex/baseStore.js
  contentcuration/contentcuration/frontend/shared/vuex/connectionPlugin/connectionModule.js
  contentcuration/contentcuration/frontend/shared/vuex/connectionPlugin/index.js
  docker-compose.yml
  package.json
  prettierrc.js
  webpack.config.js
  yarn.lock
Labels: qa-ready

#1750 Fix license handling, and circular dependencies
  contentcuration/contentcuration/frontend/channelList/views/Channel/ChannelModal.vue
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/__tests__/module.spec.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/actions.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/getters.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/index.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/mutations.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/utils.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/__tests__/module.spec.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/actions.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/getters.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/index.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/mutations.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelSet/utils.js
  contentcuration/contentcuration/frontend/shared/views/form/ContentDefaults.vue
  contentcuration/contentcuration/serializers.py
Labels: frontend, javascript, vueify

#1742 GlobalSnackbar using Vuetify for now
  contentcuration/contentcuration/frontend/shared/views/GlobalSnackbar.vue
  contentcuration/contentcuration/frontend/shared/vuex/baseStore.js
  contentcuration/contentcuration/frontend/shared/vuex/snackbar/index.js
Labels: frontend, javascript, needs review, vueify
