Repository learningequality/studio, pull requests merged in 2020-08, with the labels that each got.

#1994 Updated import modal to use the latest endpoints and components
  .pre-commit-config.yaml
  contentcuration/contentcuration/frontend/channelEdit/components/ResourceDrawer.vue
  contentcuration/contentcuration/frontend/channelEdit/router.js
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/BrowsingCard.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/ChannelInfoCard.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/ChannelList.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/ContentTreeList.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/DeleteSearchModal.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/EditSearchModal.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/ImportContentProgressModal.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/ImportFromChannelsIndex.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/ReviewSelectionsPage.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SavedSearchesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SearchFilterBar.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SearchFilters.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SearchOrBrowseWindow.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SearchResultsList.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/mixins.js
  contentcuration/contentcuration/frontend/channelEdit/views/TreeView/index.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/importFromChannels/actions.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/importFromChannels/getters.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/importFromChannels/index.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/importFromChannels/mutations.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/task/index.js
  contentcuration/contentcuration/frontend/channelList/constants.js
  contentcuration/contentcuration/frontend/channelList/router.js
  contentcuration/contentcuration/frontend/channelList/views/Channel/ChannelList.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/__tests__/channelList.spec.js
  contentcuration/contentcuration/frontend/channelList/views/ChannelListIndex.vue
  contentcuration/contentcuration/frontend/channelList/views/ChannelSet/ChannelSelectionList.vue
  contentcuration/contentcuration/frontend/channelList/views/ChannelSet/ChannelSetModal.vue
  contentcuration/contentcuration/frontend/channelList/views/ChannelSet/__tests__/channelSelectionList.spec.js
  contentcuration/contentcuration/frontend/shared/constants.js
  contentcuration/contentcuration/frontend/shared/data/constants.js
  contentcuration/contentcuration/frontend/shared/data/resources.js
  contentcuration/contentcuration/frontend/shared/mixins.js
  contentcuration/contentcuration/frontend/shared/views/Breadcrumbs.vue
  contentcuration/contentcuration/frontend/shared/views/ContentNodeIcon.vue
  contentcuration/contentcuration/frontend/shared/views/LanguageDropdown.vue
  contentcuration/contentcuration/frontend/shared/views/ResizableNavigationDrawer.vue
  contentcuration/contentcuration/frontend/shared/views/files/Thumbnail.vue
  contentcuration/contentcuration/viewsets/base.py
  contentcuration/contentcuration/viewsets/channel.py
  contentcuration/contentcuration/viewsets/common.py
  contentcuration/contentcuration/viewsets/contentnode.py
  contentcuration/contentcuration/viewsets/sync/constants.py
  contentcuration/contentcuration/viewsets/sync/endpoint.py
  contentcuration/search/migrations/0001_initial.py
  contentcuration/search/models.py
  contentcuration/search/urls.py
  contentcuration/search/views.py
  contentcuration/search/viewsets/__init__.py
  contentcuration/search/viewsets/contentnode.py
  contentcuration/search/viewsets/savedsearch.py
Labels: qa-ready

#2023 Allow user to add Kolibri URLs or ids to the search field.
  contentcuration/search/views.py
Labels: needs review

#2025 Flatten routes 3 - channel list - collections
  contentcuration/contentcuration/frontend/channelList/router.js
  contentcuration/contentcuration/frontend/channelList/views/ChannelSet/ChannelSetList.vue
  contentcuration/contentcuration/frontend/channelList/views/ChannelSet/ChannelSetModal.vue
Labels: frontend, needs review, vueify

#2018 Flatten routes 1 - channel edit - previous/next steps
  contentcuration/contentcuration/frontend/channelEdit/components/AddRelatedResourcesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/NodeTreeNavigation.vue
  contentcuration/contentcuration/frontend/channelEdit/components/RelatedResourcesTab/RelatedResourcesTab.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/AddNextStepsPage.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/AddPreviousStepsPage.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/StagingTreePage/Diff/index.spec.js
  contentcuration/contentcuration/frontend/channelEdit/pages/StagingTreePage/Diff/index.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/StagingTreePage/DiffTable.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/StagingTreePage/index.spec.js
  contentcuration/contentcuration/frontend/channelEdit/pages/StagingTreePage/index.vue
  contentcuration/contentcuration/frontend/channelEdit/router.js
Labels: frontend, needs review, vueify

#2030 Add an index to node_id
  contentcuration/contentcuration/migrations/0103_auto_20190905_0408.py
  contentcuration/contentcuration/migrations/0104_auto_20191028_2325.py
  contentcuration/contentcuration/migrations/0107_auto_20191115_2344.py
  contentcuration/contentcuration/migrations/0112_auto_20200613_0050.py
  contentcuration/contentcuration/migrations/0115_index_contentnode_node_id_field.py
  contentcuration/contentcuration/models.py
  contentcuration/kolibri_content/migrations/0001_initial.py
  contentcuration/kolibri_content/migrations/0002_auto_20180327_1414.py
  contentcuration/kolibri_content/migrations/0004_auto_20180910_2342.py
  contentcuration/kolibri_content/migrations/0005_auto_20190424_1709.py
  contentcuration/kolibri_content/migrations/0006_auto_20191028_2325.py
  contentcuration/kolibri_content/migrations/0007_auto_20200613_0050.py
Labels: qa-ready

#2033 [WIP] TUI Editor upgrade
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/MarkdownEditor/FormulasMenu/FormulasMenu.vue
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/MarkdownEditor/MarkdownEditor.vue
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/MarkdownViewer/MarkdownViewer.vue
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/__tests__/plugins/formulas/formula-html-to-md.spec.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/extensions/formulas/index.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/extensions/formulas/markdown-it-formula.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/extensions/image-upload/index.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/extensions/minimize/index.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/formulas/formula-html-to-md.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/formulas/formula-md-to-html.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/formulas/formulas.css
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/formulas/formulas.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/formulas/index.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/formulas/toolbar-icon-formulas.svg
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/image-upload/image-upload.css
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/image-upload/image-upload.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/image-upload/index.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/image-upload/toolbar-icon-image-upload.svg
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/minimize/index.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/minimize/minimize.css
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/minimize/minimize.js
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/plugins/minimize/toolbar-icon-minimize.svg
  package.json
  yarn.lock
Labels: WIP, frontend, vueify

#2024 Flatten routes 2 - channel list - channel edit modal and channel details modal
  contentcuration/contentcuration/frontend/channelList/constants.js
  contentcuration/contentcuration/frontend/channelList/router.js
  contentcuration/contentcuration/frontend/channelList/views/Channel/CatalogList.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/ChannelItem.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/ChannelList.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/__tests__/channelItem.spec.js
  contentcuration/contentcuration/frontend/channelList/views/Channel/__tests__/channelList.spec.js
  contentcuration/contentcuration/frontend/channelList/views/Channel/mixins.js
  contentcuration/contentcuration/frontend/channelList/views/ChannelListIndex.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelDetailsModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/__tests__/channelDetailsModal.spec.js
Labels: frontend, needs review, vueify

#2042 API/Viewsets updates
  contentcuration/contentcuration/debug_panel_settings.py
  contentcuration/contentcuration/dev_settings.py
  contentcuration/contentcuration/dev_urls.py
  contentcuration/contentcuration/urls.py
  contentcuration/contentcuration/viewsets/assessmentitem.py
  contentcuration/contentcuration/viewsets/base.py
  contentcuration/contentcuration/viewsets/channel.py
  contentcuration/contentcuration/viewsets/channelset.py
  contentcuration/contentcuration/viewsets/contentnode.py
  contentcuration/contentcuration/viewsets/file.py
  contentcuration/contentcuration/viewsets/invitation.py
  contentcuration/contentcuration/viewsets/tree.py
  contentcuration/contentcuration/viewsets/user.py
  package.json
  requirements-dev.in
  requirements-dev.txt
Labels: needs review, qa-ready

#2048 Flatten routes - channel edit - trash, channel details and edit modals
  contentcuration/contentcuration/frontend/channelEdit/router.js
  contentcuration/contentcuration/frontend/channelEdit/views/TreeView/TreeViewBase.vue
  contentcuration/contentcuration/frontend/channelEdit/views/trash/TrashModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelDetailsModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelModal.vue
Labels: frontend, needs review

#2059 Fix `Icon` component's icon alignment
  contentcuration/contentcuration/frontend/shared/views/Icon.vue
Labels: qa-ready

#2049 Flatten routes - channel edit - nodes edit modal
  contentcuration/contentcuration/frontend/channelEdit/router.js
  contentcuration/contentcuration/frontend/channelEdit/views/TreeView/index.vue
Labels: frontend, needs review

#2091 Don't show node options for a channel in breadcrumbs
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
Labels: frontend, needs review

#2043 Error handling
  contentcuration/contentcuration/settings.py
  contentcuration/contentcuration/utils/sentry.py
  contentcuration/contentcuration/viewsets/sync/endpoint.py
Labels: qa-ready

#2044 Create channels synchronously
  contentcuration/contentcuration/frontend/shared/data/resources.js
  contentcuration/contentcuration/frontend/shared/vuex/channel/actions.js
  contentcuration/contentcuration/viewsets/channel.py
Labels: needs review

#2103 Temporary fix to chunk clipboard requests by channel
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/actions.js
  contentcuration/contentcuration/urls.py
  contentcuration/contentcuration/views/base.py
  contentcuration/contentcuration/viewsets/tree.py
Labels: qa-ready

#2092 Generate trees faster for testing data
  contentcuration/contentcuration/db/models/manager.py
  contentcuration/contentcuration/management/commands/setup_perftest_data.py
  contentcuration/contentcuration/utils/db_tools.py
Labels: needs review

#2124 showInvalidText on report issue KTextbox
  contentcuration/contentcuration/frontend/settings/pages/UsingStudio/ReportIssueForm.vue
Labels: frontend, needs review

#2102 Prevent modals from closing before unsaved changes confirmed/cancelled
  contentcuration/contentcuration/frontend/channelList/views/ChannelSet/ChannelSetModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelModal.vue
Labels: frontend, needs review

#2133 no status message about the file if no errors or file
  contentcuration/contentcuration/frontend/shared/mixins.js
Labels: bug, frontend, needs review

#2100 Sync endpoint robustifying and node creation bug fix
  contentcuration/contentcuration/models.py
  contentcuration/contentcuration/test_settings.py
  contentcuration/contentcuration/tests/viewsets/test_channel.py
  contentcuration/contentcuration/tests/viewsets/test_contentnode.py
  contentcuration/contentcuration/urls.py
  contentcuration/contentcuration/viewsets/assessmentitem.py
  contentcuration/contentcuration/viewsets/base.py
  contentcuration/contentcuration/viewsets/channel.py
  contentcuration/contentcuration/viewsets/channelset.py
  contentcuration/contentcuration/viewsets/contentnode.py
  contentcuration/contentcuration/viewsets/file.py
  contentcuration/contentcuration/viewsets/invitation.py
  contentcuration/contentcuration/viewsets/sync/endpoint.py
  contentcuration/contentcuration/viewsets/sync/utils.py
  contentcuration/contentcuration/viewsets/tree.py
  contentcuration/contentcuration/viewsets/user.py
Labels: needs review, qa-ready

#2145 Fix issue going back from Channel Edit
  contentcuration/contentcuration/frontend/channelEdit/router.js
Labels: frontend, needs review

#2158 Propagate the correct parent_id in tree generation.
  contentcuration/contentcuration/utils/db_tools.py
Labels: needs review

#2150 Catalog filters fix
  contentcuration/contentcuration/frontend/channelList/views/Channel/mixins.js
Labels: needs review

#2130 Edit modal file fixes + remove view only mode
  contentcuration/contentcuration/frontend/channelEdit/components/edit/DetailsTabView.vue
  contentcuration/contentcuration/frontend/channelEdit/components/edit/EditList.vue
  contentcuration/contentcuration/frontend/channelEdit/components/edit/EditListItem.vue
  contentcuration/contentcuration/frontend/channelEdit/components/edit/EditModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/edit/EditView.vue
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
  contentcuration/contentcuration/frontend/channelEdit/views/files/ContentRenderer.vue
  contentcuration/contentcuration/frontend/channelEdit/views/files/FilePreview.vue
  contentcuration/contentcuration/frontend/channelEdit/views/files/FileUpload.vue
  contentcuration/contentcuration/frontend/channelEdit/views/files/FileUploadItem.vue
  contentcuration/contentcuration/frontend/channelEdit/views/files/__tests__/contentNodeThumbnail.spec.js
  contentcuration/contentcuration/frontend/channelEdit/views/files/__tests__/filePreview.spec.js
  contentcuration/contentcuration/frontend/channelEdit/views/files/__tests__/fileUpload.spec.js
  contentcuration/contentcuration/frontend/channelEdit/views/files/__tests__/fileUploadItem.spec.js
  contentcuration/contentcuration/frontend/channelEdit/views/files/thumbnails/ContentNodeThumbnail.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/getters.js
  contentcuration/contentcuration/frontend/shared/views/HelpTooltip.vue
  contentcuration/contentcuration/frontend/shared/views/InfoModal.vue
  contentcuration/contentcuration/frontend/shared/views/MasteryDropdown.vue
  contentcuration/contentcuration/frontend/shared/views/VisibilityDropdown.vue
Labels: WIP

#2126 Add markdown editor documentation
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/MarkdownEditor/MarkdownEditor.vue
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/MarkdownViewer/MarkdownViewer.vue
  docs/markdown_editor_viewer.md
Labels: frontend, needs review

#2143 Load the clipboard tree before adding to it
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/clipboard/actions.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/actions.js
Labels: frontend, javascript, needs review
