Repository learningequality/studio, pull requests merged in 2020-05, with the labels that each got.

#1859 Migrated share modal to vue
  contentcuration/contentcuration/frontend/accounts/pages/Create.vue
  contentcuration/contentcuration/frontend/channelEdit/views/ChannelEditIndex.vue
  contentcuration/contentcuration/frontend/channelList/router.js
  contentcuration/contentcuration/frontend/channelList/views/Channel/ChannelInvitation.vue
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/__tests__/module.spec.js
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/actions.js
  contentcuration/contentcuration/frontend/shared/constants.js
  contentcuration/contentcuration/frontend/shared/data/resources.js
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelSharing.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelSharingTable.vue
  contentcuration/contentcuration/frontend/shared/views/channel/__tests__/channelModal.spec.js
  contentcuration/contentcuration/frontend/shared/views/channel/__tests__/channelSharing.spec.js
  contentcuration/contentcuration/frontend/shared/views/channel/__tests__/channelSharingTable.spec.js
  contentcuration/contentcuration/frontend/shared/views/form/EmailField.vue
  contentcuration/contentcuration/frontend/shared/views/form/PasswordField.vue
  contentcuration/contentcuration/frontend/shared/views/form/TextArea.vue
  contentcuration/contentcuration/frontend/shared/views/form/TextField.vue
  contentcuration/contentcuration/frontend/shared/vuex/channel/__tests__/module.spec.js
  contentcuration/contentcuration/frontend/shared/vuex/channel/actions.js
  contentcuration/contentcuration/frontend/shared/vuex/channel/getters.js
  contentcuration/contentcuration/frontend/shared/vuex/channel/index.js
  contentcuration/contentcuration/frontend/shared/vuex/channel/mutations.js
  contentcuration/contentcuration/migrations/0111_auto_20200423_0124.py
  contentcuration/contentcuration/models.py
  contentcuration/contentcuration/templates/permissions/permissions_email.txt
  contentcuration/contentcuration/templates/permissions/permissions_email_subject.txt
  contentcuration/contentcuration/tests/test_user.py
  contentcuration/contentcuration/urls.py
  contentcuration/contentcuration/views/users.py
  contentcuration/contentcuration/viewsets/base.py
  contentcuration/contentcuration/viewsets/channel.py
  contentcuration/contentcuration/viewsets/common.py
  contentcuration/contentcuration/viewsets/invitation.py
  contentcuration/contentcuration/viewsets/sync/constants.py
  contentcuration/contentcuration/viewsets/sync/endpoint.py
  contentcuration/contentcuration/viewsets/sync/utils.py
  contentcuration/contentcuration/viewsets/user.py
Labels: qa-ready

#1865 Node parents getters cleanup
  contentcuration/contentcuration/frontend/channelEdit/components/AddRelatedResourcesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/NodeTreeNavigation.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/__tests__/getters.spec.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/getters.js
Labels: code quality/tech debt, frontend, needs review, vueify

#1881 catalog -> vue-refactor
  contentcuration/contentcuration/frontend/channelList/router.js
  contentcuration/contentcuration/frontend/channelList/views/Channel/CatalogFilterBar.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/CatalogFilters.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/CatalogList.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/components/LanguageFilter.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/components/MultiSelect.vue
  contentcuration/contentcuration/frontend/channelList/views/Channel/mixins.js
  contentcuration/contentcuration/frontend/channelList/views/ChannelListIndex.vue
  contentcuration/contentcuration/frontend/channelList/vuex/channelList/actions.js
  contentcuration/contentcuration/frontend/shared/analytics/tracker.js
  contentcuration/contentcuration/frontend/shared/i18n/index.js
  contentcuration/contentcuration/frontend/shared/images/le-logo.svg
  contentcuration/contentcuration/frontend/shared/mixins.js
  contentcuration/contentcuration/frontend/shared/views/Pagination.vue
  contentcuration/contentcuration/frontend/shared/views/PrimaryDialog.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelDetailsModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/ChannelTokenModal.vue
  contentcuration/contentcuration/frontend/shared/views/channel/mixins.js
  contentcuration/contentcuration/frontend/shared/views/details/Details.vue
  contentcuration/contentcuration/frontend/shared/vuex/channel/actions.js
  contentcuration/contentcuration/static/js/edit_channel/sharedComponents/LanguageDropdown.vue
  contentcuration/contentcuration/static/js/edit_channel/views.js
  contentcuration/contentcuration/templates/channel_list.html
  contentcuration/contentcuration/views/base.py
  contentcuration/contentcuration/viewsets/channel.py
  package.json
  yarn.lock
Labels: qa-ready

#1858 Display resource preview in add previous/next step modals
  contentcuration/contentcuration/frontend/channelEdit/components/AddRelatedResourcesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/AddNextStepsModal.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/AddPreviousStepsModal.vue
Labels: frontend, needs review, vueify

#1898 Various reactivity and asynchronicity fixes
  contentcuration/contentcuration/frontend/channelEdit/components/AddRelatedResourcesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/NodeTreeNavigation.vue
  contentcuration/contentcuration/frontend/channelEdit/move/MoveModal.vue
  contentcuration/contentcuration/frontend/channelEdit/router.js
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
  contentcuration/contentcuration/frontend/channelEdit/views/NodePanel.vue
  contentcuration/contentcuration/frontend/channelEdit/views/StudioTree.vue
  contentcuration/contentcuration/frontend/channelEdit/views/TreeView.vue
  contentcuration/contentcuration/frontend/channelEdit/views/trash/TrashModal.vue
  contentcuration/contentcuration/frontend/channelEdit/views/trash/__tests__/trashModal.spec.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/actions.js
Labels: frontend, needs review, vueify

#1866 Storybook
  .babelrc
  .gitignore
  .storybook/main.js
  .storybook/preview-head.html
  .storybook/preview.js
  README.md
  babel.config.js
  contentcuration/contentcuration/frontend/shared/views/details/DetailsRow.stories.js
  contentcuration/contentcuration/static/js/utils/translations.js
  package.json
  webpack.config.js
  yarn.lock
Labels: frontend, needs review

#1914 Allow static urls on catalog server
  deploy/nginx.conf.jinja2
Labels: qa-ready

#1915 nginx: block /content/ root, round two
  deploy/nginx.conf.jinja2
Labels: qa-ready

#1923 Channel edit page fix - last item missing in breadcrumbs
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
Labels: bug, frontend, needs review, vueify

#1922 Channel staging page - StudioTree updates
  contentcuration/contentcuration/frontend/accounts/pages/Create.vue
  contentcuration/contentcuration/frontend/accounts/pages/Main.vue
  contentcuration/contentcuration/frontend/accounts/pages/activateAccount/RequestNewActivationLink.vue
  contentcuration/contentcuration/frontend/accounts/pages/resetPassword/ForgotPassword.vue
  contentcuration/contentcuration/frontend/accounts/pages/resetPassword/ResetPassword.vue
  contentcuration/contentcuration/frontend/channelEdit/components/Clipboard/ContentNode.vue
  contentcuration/contentcuration/frontend/channelEdit/components/ContentNodeOptions.vue
  contentcuration/contentcuration/frontend/channelEdit/components/StudioTree/StudioTree.spec.js
  contentcuration/contentcuration/frontend/channelEdit/components/StudioTree/StudioTree.vue
  contentcuration/contentcuration/frontend/channelEdit/constants.js
  contentcuration/contentcuration/frontend/channelEdit/pages/StagingTreeView.vue
  contentcuration/contentcuration/frontend/channelEdit/router.js
  contentcuration/contentcuration/frontend/channelEdit/views/CurrentTopicView.vue
  contentcuration/contentcuration/frontend/channelEdit/views/TreeView.vue
  contentcuration/contentcuration/frontend/channelEdit/views/list/ContentNodeListItem.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/currentChannel/getters.js
  contentcuration/contentcuration/frontend/shared/views/Banner.vue
  contentcuration/contentcuration/frontend/shared/views/ContextMenu.vue
  contentcuration/contentcuration/frontend/shared/vuex/contextMenu/index.js
  contentcuration/contentcuration/viewsets/channel.py
Labels: frontend, needs review, vueify

#1864 Vue device settings
  contentcuration/contentcuration/frontend/settings/constants.js
  contentcuration/contentcuration/frontend/settings/index.js
  contentcuration/contentcuration/frontend/settings/router.js
  contentcuration/contentcuration/frontend/settings/store.js
  contentcuration/contentcuration/frontend/settings/views/Account/ChangePasswordForm.vue
  contentcuration/contentcuration/frontend/settings/views/Account/FullNameForm.vue
  contentcuration/contentcuration/frontend/settings/views/Account/index.vue
  contentcuration/contentcuration/frontend/settings/views/SettingsIndex.vue
  contentcuration/contentcuration/frontend/settings/views/Storage/RequestForm.vue
  contentcuration/contentcuration/frontend/settings/views/Storage/index.vue
  contentcuration/contentcuration/frontend/settings/views/UsingStudio/ReportIssueForm.vue
  contentcuration/contentcuration/frontend/settings/views/UsingStudio/index.vue
  contentcuration/contentcuration/frontend/shared/app.js
  contentcuration/contentcuration/frontend/shared/views/AppBar.vue
  contentcuration/contentcuration/frontend/shared/views/ToolBar.vue
  contentcuration/contentcuration/frontend/shared/vuex/session/index.js
  contentcuration/contentcuration/serializers.py
  contentcuration/contentcuration/templates/settings.html
  contentcuration/contentcuration/urls.py
  contentcuration/contentcuration/views/settings.py
  package.json
  webpack.config.js
Labels: WIP, qa-ready

#1928 Content node list item component updates
  contentcuration/contentcuration/frontend/channelEdit/components/ContentNodeEditListItem.vue
  contentcuration/contentcuration/frontend/channelEdit/components/ContentNodeListItem/index.spec.js
  contentcuration/contentcuration/frontend/channelEdit/components/ContentNodeListItem/index.vue
  contentcuration/contentcuration/frontend/channelEdit/views/NodePanel.vue
  contentcuration/contentcuration/frontend/channelEdit/views/list/ContentNodeListItem.vue
Labels: frontend, needs review, vueify
