Repository learningequality/studio, pull requests merged in 2020-04, with the labels that each got.

#1844 run setup command when not in prod mode
  k8s/templates/studio-deployment.yaml
Labels: qa-ready

#1842 Make exercise creation work again
  contentcuration/contentcuration/frontend/channelEdit/__tests__/utils.spec.js
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentEditor/AssessmentEditor.spec.js
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentEditor/AssessmentEditor.vue
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentItemPreview/AssessmentItemPreview.vue
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentTab/AssessmentTab.vue
  contentcuration/contentcuration/frontend/channelEdit/utils.js
  contentcuration/contentcuration/frontend/channelEdit/views/sync/SyncResourcesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/__tests__/getters.spec.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/__tests__/mutations.spec.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/actions.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/getters.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/index.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/mutations.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/views/EditModal.vue
  contentcuration/contentcuration/static/js/edit_channel/uploader/views/EditView.vue
  contentcuration/contentcuration/viewsets/assessmentitem.py
Labels: frontend, needs review, vueify

#1841 In Nginx, block access to `/content/` root
  deploy/nginx.conf.jinja2
Labels: qa-ready

#1856 Add symbols translations
  contentcuration/contentcuration/frontend/shared/views/MarkdownEditor/MarkdownEditor/FormulasMenu/FormulasMenu.vue
Labels: code quality/tech debt, frontend, needs review, vueify

#1870 Preserve the current mode in "Add previous/next steps" modals
  contentcuration/contentcuration/frontend/channelEdit/components/AddRelatedResourcesModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/RelatedResourcesTab/RelatedResourcesTab.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/AddNextStepsModal.vue
  contentcuration/contentcuration/frontend/channelEdit/pages/AddPreviousStepsModal.vue
Labels: code quality/tech debt, frontend, vueify

#1861 Exercise creation validation improvements
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentEditor/AssessmentEditor.vue
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentTab/AssessmentTab.vue
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/__tests__/getters.spec.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/getters.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/assessmentItem/index.js
  contentcuration/contentcuration/frontend/channelEdit/vuex/contentNode/getters.js
  contentcuration/contentcuration/static/js/edit_channel/uploader/views/EditView.vue
Labels: code quality/tech debt, frontend, needs review, vueify
