Repository learningequality/studio, pull requests merged in 2025-09, with the labels that each got.

#5351 Fixes the KLogo display in preview window
  contentcuration/contentcuration/frontend/channelEdit/views/files/ContentRenderer.vue
Labels: bug, DEV: frontend, TODO: needs review

#5393 Fix responsiveness for non search recommendations users
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SearchOrBrowseWindow.vue
Labels: bug, P1 - important, TAG: ux update, DEV: frontend, TODO: needs review

#5356 Fix css override troubles
  contentcuration/contentcuration/frontend/channelEdit/components/move/MoveModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/move/NewTopicModal.vue
  contentcuration/contentcuration/frontend/channelEdit/components/move/__tests__/moveModal.spec.js
  contentcuration/contentcuration/frontend/channelEdit/components/move/__tests__/newTopicModal.spec.js
  contentcuration/contentcuration/frontend/channelEdit/views/ImportFromChannels/SearchOrBrowseWindow.vue
  contentcuration/contentcuration/frontend/channelEdit/views/trash/TrashModal.vue
  contentcuration/contentcuration/frontend/channelEdit/views/trash/__tests__/trashModal.spec.js
  contentcuration/contentcuration/frontend/shared/views/RecommendedResourceCard.vue
  package.json
  pnpm-lock.yaml
Labels: bug, DEV: frontend, work-in-progress, TODO: needs review, TAG: regression

#5400 add focus trapping to resource preview side panel
  contentcuration/contentcuration/frontend/channelEdit/components/ResourceDrawer.vue
Labels: P1 - important, DEV: frontend, TODO: needs review, TAG: a11y

#5368 [Remove Vuetify from Studio] Buttons / links on account created / deleted pages
  contentcuration/contentcuration/frontend/accounts/pages/accountDeleted/AccountDeleted.vue
  contentcuration/contentcuration/frontend/accounts/pages/activateAccount/AccountCreated.vue
Labels: TODO: needs review

#5384 [Remove Vuetify from Studio] Buttons in Questions
  contentcuration/contentcuration/frontend/channelEdit/components/AnswersEditor/AnswersEditor.vue
  contentcuration/contentcuration/frontend/channelEdit/components/AssessmentEditor/AssessmentEditor.vue
  contentcuration/contentcuration/frontend/channelEdit/components/HintsEditor/HintsEditor.vue
Labels: DEV: frontend, TODO: needs review
